

<ion-content [fullscreen]="true" >
  <ion-header  collapse="condense">
   
  </ion-header>


 <div id="encabezado">
    <p>Hola!<br>Soy VersaAssist tu <br>asistente</p>

    <img id=fotoPerfil src="assets\imagenes\fotoPerfil.png" alt="Descripción de la imagen">

  </div> 

  <div id="servicios">
    <h1>servicios</h1>

    <ion-grid >
      <ion-row>
        <ion-col>
          <button [routerLink]="['#']" class="btn">
            <img src="assets\imagenes\gato.png" alt="Descripción de la imagen">
            <span>Todas</span>
          </button>
        </ion-col>
        
        <ion-col>
          <button [routerLink]="['#']" class="btn">
            <img src="assets\imagenes\salud.png" alt="Descripción de la imagen">
            <span>Todas</span>
          </button>
        </ion-col>

        <ion-col>
          <button [routerLink]="['#']" class="btn">
            <img src="assets\imagenes\bienestar.png" alt="Descripción de la imagen">
            <span>Todas</span>
          </button>
        </ion-col>

        <ion-col>
          <button [routerLink]="['#']" class="btn">
            <img src="assets\imagenes\tiempo.png" alt="Descripción de la imagen">
            <span>Todas</span>
          </button>
        </ion-col>

        <ion-col>
          <button [routerLink]="['#']" class="btn">
            <img src="assets\imagenes\guia.png" alt="Descripción de la imagen">
            <span>Todas</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>


  <div id="modulos" class="grid-container">

    <ion-card id="foto1">
      <ion-card-header>
        <img id=fotoModulo src="assets\imagenes\recordatorio.png" alt="Descripción de la imagen">
      </ion-card-header>
      <ion-card-content>Recordatorios de tareas y citas.</ion-card-content>
    </ion-card>
    

    <ion-card id="fotos2">
      <ion-card-header>
        <img id=fotoModulo src="assets\imagenes\asesoramiento.png" alt="Descripción de la imagen">
      </ion-card-header>
      <ion-card-content>Asesoramiento emocional</ion-card-content>
    </ion-card>


    <ion-card id="foto3">
      <ion-card-header>
        <img id=fotoModulo src="assets\imagenes\gestion.png" alt="Descripción de la imagen">
      </ion-card-header>
      <ion-card-content>Gestión de proyectos.</ion-card-content>
    </ion-card>
    
    
    <ion-card id="fotos4">
      <ion-card-header>
        <img id=fotoModulo src="assets\imagenes\actividad.png" alt="Descripción de la imagen">
      </ion-card-header>
      <ion-card-content>actividad física y ejercicios.</ion-card-content>
    </ion-card>
    


  </div>

  <div id="actividades">

    <section id="fondo">
      <H2>Actividades Recientes</H2> 
    </section>
    

    <section id="section2">
    
      <p id><ion-icon name="heart"></ion-icon>Recordatorios de medicamentos y citas médicas.</p>

      <p id><ion-icon name="heart"></ion-icon>Recetas y sugerencias de cocina.</p>

    </section>


  </div>

  <footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <img src="assets\icon\Vector.png" alt="Descripción de la imagen">
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <img src="assets\icon\android.png" alt="Descripción de la imagen">
      </ion-tab-button>
      <ion-tab-button tab="library">
        <img src="assets\icon\pelota.png" alt="Descripción de la imagen">
      </ion-tab-button >
      <ion-tab-button tab="search">
        <img src="assets\icon\info.png" alt="Descripción de la imagen">
      </ion-tab-button>
      
      <ion-tab-button tab="info">
        <button [routerLink]="['/ajustes']" class="btn">
          <img src="assets\icon\confi.png" alt="Descripción de la imagen">
        </button>
      </ion-tab-button>
        
      
    </ion-tab-bar>
  </ion-tabs>

</footer>

</ion-content>
