ion-content {
  --background: linear-gradient(180deg, rgba(225, 195, 255, 0.926) 0%, rgba(243, 220, 220, 0.84) 100%);
}

#encabezado {
    
  background-color: #C3C7F3;
  position: absolute;
  width: 95%;
  height: auto;
  left: 15px;
  right: 15px;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #C3C7F3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 90px;
}
  
#encabezado p {
  
  flex: 1; 
  line-height: 1.7;
  text-align: center ; 

  /* Hola! Soy VersaAssist tu asistente */

  /* Title/Medium */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  text-align: center;

  color: #6E23BB;


}
#fotoPerfil  {
    display: flex;
    margin-right: 30px; /* Ajusta el valor según sea necesario para mover la imagen a la izquierda */
}

#servicios h1{
  color: #6E23BB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 189px;
  height: 26px;
  left: calc(50% - 189px/2 - 2px);
  position: relative;

}

#servicios ion-grid{
/* Barra de seleccion */
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: #F5BCBA;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 90px;
  position: absolute;
  width: 95%;
  height: 65px;
  left: 0px;
  position: relative;

  ion-row {
    width: 80%; /* Ocupar todo el espacio horizontal */
  }

  ion-col {
    flex: 1; /* Hacer que los elementos se expandan para ocupar el espacio disponible */
    text-align: center; /* Alinear el texto al centro */
  }

}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: aliceblue;
  background: none;
  cursor: pointer;
}
  
.btn img {
    display: flex;
    width: 24px; /* Tamaño de la imagen */
    height: 24px; /* Tamaño de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}
  
.btn span {
    display: flex;
    text-align: center;
    font-size: 12px; /* Tamaño del texto */
   
}

.grid-container {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px; /* Espacio entre las tarjetas */
    margin-left: 20%;
    margin-right: 20%;

}
  
ion-card {
    /* Categoria 1 */
    
      box-sizing: border-box;
      width: 162px;
      height: 140px;
    
      background: #F3DCDC;
      border: 1px solid #C8A8E9;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 45px;
     
    
}
  #fotoModulo{
    position: absolute;
    width: 90px;
    height: 85px;
    left: 31px;
    top: 6px;

    border-radius: 90px;
    
}
ion-card-content{
  position: absolute;
  width: 150px;
  height: 40px;
  left: 9px;
  top: 90px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 650;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  text-align: center;
  
  color: #000000;
}

#actividades {
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 100px;
}

#actividades section h2{

  position: absolute;
  width: 189px;
  height: 26px;
  left: 38px;
  
  
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  
  
  color: #C3C7F3;

  /* Borde para el texto */
  text-shadow: -1px -1px 0 #000,  
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}
#fondo{

  position: absolute;
  width: 265px;
  height: 49px;
  left: 79px;
  position: relative;
  

  background: rgba(195, 199, 243, 1);
  border-radius: 90px 90px 0px 0px;


}



#actividades p{

  display: flex;
  justify-content: center; /* Centrar horizontalmente el texto */
  align-items: center; /* Centrar verticalmente el texto */
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  background: #F5F5F5;
  border-radius: 90px;
  margin-top: 5px;
  padding: 5px 5px; /* Ajustar el relleno según sea necesario */



}
#section2{
  background: rgba(195, 199, 243,1);
  border-radius: 10px;
  position: absolute;
  padding-block-start: 5%;
  width: 390px;
  height: 130px;
  left: 19px;
  position: relative;
  

}


  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100px;
    color: #fff; /* Color del texto */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999; /* Asegúrate de que el footer esté en la parte superior */
  }
  
  ion-tab-button {
    background-color: #C8A8E9; /* Color de fondo de los botones de pestaña */
  }
  
  ion-tab-bar {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px 45px 0px 0px;
  }
  
ion-tab-bar{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px 45px 0px 0px;

 
  
}
  





  



/* Rectangle 25 */



