

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 155px;
  width: 257px; /* Ajusta el valor según sea necesario */
  /* o puedes usar height: 100px; si prefieres ajustar la altura */
}

h1{
text-align: center;


}

#container{

  
  text-align: center;
  
}

#form{
/* Inputs */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 5px;

  width: 375px;
  height: 109px;


  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;

}
.btn {
  background-color: var(--ion-color-botones);
  color: white;
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 30px; /* Ajusta el valor según sea necesario */
}

.login-container {
  width: 90%; /* Ajusta el ancho según tu preferencia */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  max-width: 400px; /* Ajusta el ancho máximo según tu preferencia */

  ion-item {
    margin-bottom: 20px;
    border-radius: 50px;
  }
  ion-button {
    display: block; /* Hace que el botón ocupe todo el ancho del contenedor */
    margin: 0 auto; /* Centra el botón horizontalmente */
    width: 50%;
    color: white;
    --border-radius: 12px;
  }
  
}
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}
.signup-container p{
  /* Text/Small */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;

  /* Gray/Medium */
  color: #A09CAB;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  font-size: 16px;
  color: #A09CAB;
  margin-bottom: 10px; /* Ajusta según sea necesario */
}
.signup-container ion-button {
  margin-top: 10px;
  --background: transparent;
  color: black;
  --border-radius: 12px;
}


