<ion-content [fullscreen]="true">
  <div class="centered-container">
    <div class="card">
      <img src="assets/imagenes/ohbot.png" alt="Ohbot" class="card-image">
      <h2 class="card-title">OHBOT</h2>
      <div class="card-box">
        <p>OHBOT es un robot humanoide interactivo y educativo, diseñado para comunicarse emocionalmente y realizar una variedad de tareas programables.</p>
        <h2>Sensores y Actuadores</h2>
        <p>
          <ng-container *ngFor="let component of componentsData">
            - {{ component.name }}: {{ component.description }}<br>
            <ng-container *ngIf="component.subcomponents">
              <ng-container *ngFor="let subcomponent of component.subcomponents">
                &emsp;- {{ subcomponent.name }}: {{ subcomponent.description }}<br>
              </ng-container>
            </ng-container>
          </ng-container>
        </p>
        <ion-button expand="block" class="custom-button" href="https://www.ohbot.co.uk/oh_old.html">Más información Website OHBOT</ion-button>
      </div>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
