<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div>
    <img src="assets\imagenes\ohbot.png" alt="imagen de OHBOT">

  </div>

  <div id="container">
    <h1>Asesoramiento<br> emocional</h1>

    <p>
      ¡Hola! Soy tu nuevo asesor emocional, aquí para brindarte apoyo en tu bienestar emocional. Trabajaremos juntos para explorar tus emociones, desarrollar estrategias para manejar el estrés y fortalecer tu resiliencia emocional. Estoy aquí para ayudarte a encontrar equilibrio y bienestar en tu vida.
    </p>

    <div class="button-container">
      <ion-button [routerLink]="['/activar-robot']" (click)="cambiarEstado('AsesorEmocional')" class="btn">Iniciar conversacion</ion-button>
      <ion-button [routerLink]="['/chat-preguntas']" (click)="cambiarEstado('AsesorEmocional-chat')" class="btn">Chat</ion-button>
      <ion-button [routerLink]="['/dashboard']" class="btn">Volver</ion-button>
    </div>

  </div>








</ion-content>

<app-footer></app-footer>
  
