<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <h1>Editar Perfil</h1>
  </ion-header>



  <div id="perfil">

    <img src="assets\imagenes\perfil_online.png" alt="Descripción de la imagen">
    <p>Versa<br/>Online</p>

  </div>

  <div id="ajustes">
    <ion-input
      placeholder="versa@versa.cl"
      type="email"
      fill="solid"
      label="Correo"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>
    <ion-input
    placeholder="Versa"
    type="usuario"
    fill="solid"
    label="Usuario"
    labelPlacement="floating"
    helperText="Ingresa nuevo nombre"
    errorText="Usuario invalido"
    ngModel

  ></ion-input>
    <ion-input
      placeholder="Contraseña"
      type="contraseña"
      fill="solid"
      label="Contraseña"
      labelPlacement="floating"
      helperText="Ingresa nueva contraseña"
      errorText="Usuario invalido"
      ngModel

  ></ion-input>
  <ion-input
  placeholder="Apellido"
  type="apellido"
  fill="solid"
  label="Apellido"
  labelPlacement="floating"
  helperText="Ingresa nuevo apellido"
  errorText="Usuario invalido"
  ngModel

  ></ion-input>

    <ion-input
      type="texto"
      fill="solid"
      label="Ingresar comuna"
      labelPlacement="floating"
      errorText="Invalid email"
      ngModel
    
  ></ion-input>

    <p id="comuna">Región</p>

    <ion-list >
      <ion-item >
        <ion-select  aria-label="Región" interface="popover" placeholder="Selección de región">
          <ion-select-option value="apples">Región Metropolitana</ion-select-option>
          <ion-select-option value="Independencia">I Tarapacá</ion-select-option>
          <ion-select-option value="II Antofagasta">II Antofagasta</ion-select-option>
          <ion-select-option value="III Atacama">III Atacama</ion-select-option>
          <ion-select-option value="IV Coquimbo">IV Coquimbo</ion-select-option>
          <ion-select-option value="V Región">V Región</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    


      

  </div>

  <div id="container">
    <button [routerLink]="['/inicio-sesion']" class="btn">Actualizar datos</button>
  
  </div>  
  


  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >

        <ion-tab-button [routerLink]="['/info']" tab="home">
          <img src="assets\icon\Vector.png" alt="Descripción de la imagen">
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/propiedades']" tab="radio">
          <img src="assets\icon\android.png" alt="Descripción de la imagen">
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/inforobot']" tab="library">
          <img src="assets\icon\pelota.png" alt="Descripción de la imagen">
        </ion-tab-button >

        <ion-tab-button [routerLink]="['/ajustes']" tab="search">
          <img src="assets\icon\info.png" alt="Descripción de la imagen">
        </ion-tab-button>
        
        <ion-tab-button [routerLink]="['/ajustes']" tab="search">
          <img src="assets\icon\confi.png" alt="Descripción de la imagen">
        </ion-tab-button>
          
        
      </ion-tab-bar>
    </ion-tabs>
  
  </footer>
</ion-content>