<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div id="encabezado">
    <p id="asis" >Chat preguntas</p>
    <img id="fotoOhbot" src="assets\imagenes\ohbot.png" alt="Descripción de la imagen">
  </div> 

  <div id="container">

    <div id="titulochat">
      <h1 id="chat1">Chat 1</h1>
    </div>
    <div id="pantallachat">
    </div>
    <div id="botonvolver">
      <ion-button color="light" routerLink="/asesor-deportivo">Volver</ion-button>
  </div>

  </div>

</ion-content>

<app-footer></app-footer>