ion-content {
    --background: linear-gradient(180deg, rgba(225, 195, 255, 0.926) 0%, rgba(243, 220, 220, 0.84) 100%);
}

#encabezado {
    display: flex;               
    justify-content: center;     
    align-items: center;        
    margin: 10px 35px;
    border-radius: 32px 32px 20px 20px;
    background-color: rgb(243, 169, 225);
}  

#fotoOhbot {
    margin-right: 30px; 
    width: 30%;
}

#asis {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    transform: rotate(-0.37deg);
    text-align: left;
    margin-right: 20%;
    padding: 10px 10px;
}

#container {
    margin: 20px 25px 75px;
    background-color: rgba(255, 255, 255, 0.692);
    height: 70%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

#chat1 {
    font-size: 15px;
    white-space: nowrap;
}

#titulochat {
    margin: 20px auto 20px;
    background-color: white;
    width: 70px;
    height: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pantallachat {
    width: 100%;
    height: 78%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    background-color: rgb(254, 237, 254);
    overflow-y: scroll;
    padding-top: 5px;
}

.mensaje {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    word-wrap: break-word;
    margin-left: 5px;
    margin-right: 5px;
}

.usuario {
    background-color: #d1e7dd;
    align-self: flex-end;
}

.asistente {
    background-color: #f8d7da;
    align-self: flex-start;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
    align-items: center;
    filter: drop-shadow(0px 1px 75.2px #A259FF);
}

ion-button {
    --background: #C3C7F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 25px;
}

ion-item {
    --background: rgb(254, 237, 254);
}

ion-list {
    --background: rgb(254, 237, 254);
}
