<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>

  <div id="encabezado">
    <p>Hola!<br>Soy VersaAssist tu <br>asistente</p>
    <img id="fotoPerfil" src="assets/imagenes/fotoPerfil.png" alt="Descripci贸n de la imagen">
  </div> 

  <div id="servicios">
    <h1>Servicios</h1>
  </div>

  <div id="modulos" class="flex-container">

    <ion-card class="card">
      <button ion-button="clear"  [routerLink]="['/asesor-deportivo']"  class="card-content-button">
        <ion-card-content class="card-content">
          <img class="fotoModulo" src="assets/imagenes/recordatorio.png" alt="fotoModulo">
          <div class="text-content">Asesor deportivo</div>
        </ion-card-content>
      </button>
    </ion-card>
    
    <ion-card class="card">
      <button ion-button="clear"  [routerLink]="['/asesoramiento-emocional']" class="card-content-button">
        <ion-card-content class="card-content">
          <img class="fotoModulo" src="assets/imagenes/asesoramiento.png" alt="Descripción de la imagen">
          <div class="text-content">Asesoramiento emocional</div>
        </ion-card-content>
      </button>
    </ion-card>

    <ion-card class="card">
      <button ion-button="clear"   [routerLink]="['/tutor-matematica']" class="card-content-button">
        <ion-card-content class="card-content">
          <img class="fotoModulo" src="assets/imagenes/gestion.png" alt="Descripci贸n de la imagen">
          <div class="text-content">Tutor de matematica</div>
        </ion-card-content>
      </button>
    </ion-card>
    
    <ion-card class="card">
      <button ion-button="clear"  [routerLink]="['/chat-preguntas']" [routerLink]="['/resolver']"  class="card-content-button">
        <ion-card-content class="card-content">
          <img class="fotoModulo" src="assets/imagenes/actividad.png" alt="Descripci贸n de la imagen">
          <div class="text-content">Reconocimiento facial</div>
        </ion-card-content>
      </button>
    </ion-card>

    <ion-card class="card">
      <button ion-button="clear" (click)="cambiarEstado('cantar')" [routerLink]="['/chat-preguntas']" [routerLink]="['/resolver']"  class="card-content-button">
        <ion-card-content class="card-content">
          <img class="fotoModulo" src="assets/imagenes/actividad.png" alt="Descripci贸n de la imagen">
          <div class="text-content">Cantar</div>
        </ion-card-content>
      </button>
    </ion-card>
  </div>

  <div id="actividades">
    <section id="fondo">
      <h2>Actividades Recientes</h2> 
    </section>

    <section id="section2">
      <p><ion-icon name="heart"></ion-icon>Asesor Emocional</p>
      <p><ion-icon name="heart"></ion-icon>Asesor Deportivo</p>
    </section>
  </div>
</ion-content>

<app-footer></app-footer>