<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

<img id="logo" src="assets\imagenes\logo.png" alt="Descripción de la imagen">

<img id="imagenRobot" src="assets\imagenes\robot.png" alt="Descripción de la imagen">


<p id="parrafo1"> Tu compañero personalizado para cada momento del día. Desde organizarte el día hasta brindarte consejos útiles, estamos aquí para ayudarte en todo lo que necesites.</p>

<div id="container">
  <button [routerLink]="['/inicio-sesion']" class="btn">Bienvenido</button>

</div>  

  
</ion-content>
