<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <h1>Perfil</h1>
  </ion-header>

  <div id="perfil">
    <img src="assets/imagenes/perfil_online.png" alt="Descripción de la imagen">
    <div>
      <p>{{ userProfile.username }}<br/>Online</p>
    </div>
  </div>

  <div id="ajustes">
    <p>Correo: {{ userProfile.email }}</p>
    <p>Usuario: {{ userProfile.username }}</p>
    <p>Rut: {{ userProfile.rut }}</p>
    <p>Comuna: {{ userProfile.comuna }}</p>
    <p>Región: {{ userProfile.region }}</p>
  </div>

  <div id="container">
    <ion-button (click)="logout()" expand="block" color="danger" class="custom-button">Cerrar Sesión</ion-button>
  </div>
</ion-content>

<app-footer></app-footer>
