ion-content {
  --background: linear-gradient(180deg, #C8A8E9 0%, #F3DCDC 100%);
}

#perfil {
  text-align: center;
  margin-top: 20px;
}

#perfil img {
  width: 100px; /* Ajusta según sea necesario */
  height: auto; 
  border-radius: 50%;
}

#perfil div {
  margin-top: 10px;
}

#ajustes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0 20px;
}

#ajustes p {
  margin: 5px 0;
  font-size: 16px;
}

#container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.custom-button {
  font-size: 18px;
  font-weight: bold;
  --background: var(--ion-color-danger);
  --border-radius: 10px;
  --color: #fff;
}

ion-header {
  text-align: center;
  padding: 20px 0;
}

ion-header h1 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}
