ion-content {
    --background: linear-gradient(180deg, rgba(200, 168, 233, 0.2436) 0%, rgba(243, 220, 220, 0.84) 100%);
   
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Ancho completo */
    height: 100px;
    color: #fff; /* Color del texto */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999; /* Asegúrate de que el footer esté en la parte superior */
  }
  
  
ion-tab-bar {
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 45px 45px 0px 0px;
}
  

ion-tab-button{
    background-color: #C8A8E9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
h1 {
    text-align: center; /* Alinea el texto al centro */
    position: absolute;
    width: 90%; /* Ancho del 90% del ancho de la pantalla */
    left: 5%; /* Centra horizontalmente */
    height: 50px; /* Altura fija */
    top: 50px; /* Distancia desde la parte superior de la pantalla */
}


#perfil {
    position: absolute;
    width: 86px;
    height: 72px;
    left: 50%; /* Centra horizontalmente */
    top: 160px; /* Ajusta la posición vertical según sea necesario */
    transform: translateX(-50%); /* Corrige el centro basado en el ancho */
}
.container {
    text-align: center; /* Centra el contenido dentro del contenedor */
}

#n{
    font-family: 'Roboto';
    color: #2743FD;
    display: block;
    align-items: center; 
    margin-top: 70%;
    
}

#n {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}




.containerb {
    text-align: center; 
    margin-top: 15%;
    
}

#btn1, #btn2, #btn3 {
    width: auto;
    height: 25px; 
    background: #C3C7F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: white;
    display: block; 
    margin: 5% auto; 
    padding: 18px;


    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
