<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <img id="logo" src="/assets/imagenes/logo.png">
  
  <div class="vertical" id="texto">
    <p>Crear Cuenta</p>
  </div>
  
  <ion-content class="ion-padding">
    <div class="login-container">
      <ion-item>
        <ion-input placeholder="Nombre de usuario" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Correo Electrónico" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="RUT" [(ngModel)]="rut"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-select placeholder="Seleccione su región" interface="popover" (ionChange)="updateComunas($event)">
          <ion-select-option value="Arica y Parinacota">Arica y Parinacota</ion-select-option>
          <ion-select-option value="Tarapaca">Tarapaca</ion-select-option>
          <ion-select-option value="Antofagasta">Antofagasta</ion-select-option>
          <ion-select-option value="Atacama">Atacama</ion-select-option>
          <ion-select-option value="Coquimbo">Coquimbo</ion-select-option>
          <ion-select-option value="Valparaiso">Valparaiso</ion-select-option>
          <ion-select-option value="Metropolitana">Metropolitana</ion-select-option>
          <ion-select-option value="O'Higgins">O'Higgins</ion-select-option>
          <ion-select-option value="Del Maule">Del Maule</ion-select-option>
          <ion-select-option value="Ñuble">Ñuble</ion-select-option>
          <ion-select-option value="Bio Bio">Bio Bio</ion-select-option>
          <ion-select-option value="Araucania">Araucania</ion-select-option>
          <ion-select-option value="Los Rios">Los Rios</ion-select-option>
          <ion-select-option value="Los Lagos">Los Lagos</ion-select-option>
          <ion-select-option value="Aysen">Aysen</ion-select-option>
          <ion-select-option value="Magallanes">Magallanes</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Seleccione su comuna" interface="popover" [disabled]="!selectedRegion" [(ngModel)]="selectedComuna">
          <ion-select-option *ngFor="let comuna of comunas" [value]="comuna">{{comuna}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Confirmación Contraseña" type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>
      
      <div class="terms">
        <ion-checkbox slot="start" [(ngModel)]="acceptTerms"></ion-checkbox>
        <label>Acepto los términos y condiciones</label>
      </div>
      
      <ion-button (click)="signInWithGoogle()" expand="block" color="primary">
        Iniciar sesión con Google
      </ion-button>

      <ion-button expand="block" (click)="register()">Registrar</ion-button>

    
      
      
      <div id="cuentaExistente">
        <p>¿Ya tienes cuenta? <a routerLink="/inicio-sesion">Iniciar sesión</a></p>
      </div>
    </div>
  </ion-content>
</ion-content>
