<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/dashboard']" [ngClass]="{'custom-color-info': currentRoute === '/dashboard'}">
      <img src="assets/icon/Vector.png" alt="Descripción de la imagen">
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/ohbotinfo']"  [ngClass]="{'custom-color-ohbotinfo': currentRoute === '/ohbotinfo'}">
      <img src="assets/icon/info.png" alt="Descripción de la imagen">
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/ajustes']"  [ngClass]="{'custom-color-ajustes': currentRoute === '/ajustes'}">
      <img src="assets/icon/confi.png" alt="Descripción de la imagen">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
