<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/info']" tab="home">
      <img src="assets/icon/Vector.png" alt="Descripción de la imagen">
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/ohbotinfo']" tab="search">
      <img src="assets/icon/info.png" alt="Descripción de la imagen">
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/ajustes']" tab="settings">
      <img src="assets/icon/confi.png" alt="Descripción de la imagen">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>