

<ion-content [fullscreen]="true">




  <img id="imagenRobot" src="assets\imagenes\ohbot.png" alt="Descripción de la imagen">
<div id="fondo">

  <p id="nombre">
    OHBOT
  </p>

<div>
  <div id="contenedor">
    <div id="fila1">
      <div id="prop1">
        <p class="letra">Sensores</p>
      </div>  
      <div id="prop2">
        <p class="letra">nombre</p>
      </div>
      <div id="prop3">
        <p class="letra">Robot</p>
      </div>
    </div>
    <div id="fila2">
      <div id="prop4">
        <p class="letra">Humanoide</p>
      </div>  
      <div id="prop5">
        <p class="letra">OHBOT</p>
      </div>
      <div id="prop6">
        <p class="letra">Camara Infrarrojo</p>
      </div>
    </div>
  </div>
  

</div>




  <p id="parrafo1">
    OHBOT es un robot humanoide interactivo y educativo, diseñado para comunicarse emocionalmente y realizar una variedad de tareas programables.
  </p>

  <div id="btn">
    <ion-button  ><ion-icon name="chatbubble-ellipses-outline"></ion-icon></ion-button> <ion-button >Interactuar</ion-button><ion-button ><ion-icon name="globe-outline"></ion-icon></ion-button>

  </div>
</div>












  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >

        <ion-tab-button [routerLink]="['/info']" tab="home">
          <img src="assets\icon\Vector.png" alt="Descripción de la imagen">
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/propiedades']" tab="radio">
          <img src="assets\icon\android.png" alt="Descripción de la imagen">
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/inforobot']" tab="library">
          <img src="assets\icon\pelota.png" alt="Descripción de la imagen">
        </ion-tab-button >

        <ion-tab-button [routerLink]="['/ajustes']" tab="search">
          <img src="assets\icon\info.png" alt="Descripción de la imagen">
        </ion-tab-button>
        
        <ion-tab-button [routerLink]="['/ajustes']" tab="search">
          <img src="assets\icon\confi.png" alt="Descripción de la imagen">
        </ion-tab-button>
          
        
      </ion-tab-bar>
    </ion-tabs>
  
  </footer>

</ion-content>
