<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div>
    <img src="assets\imagenes\ohbot.png" alt="imagen de OHBOT">

  </div>

  <div id="container">
    <h1>Tutor<br> matemática</h1>

    <p>
      ¡Hola! Soy tu nuevo tutor de matemáticas, listo para ayudarte a dominar los números y resolver cualquier desafío matemático que encuentres. Juntos exploraremos conceptos complejos, resolveremos problemas difíciles y fortaleceremos tus habilidades numéricas. Estoy aquí para hacer que las matemáticas sean comprensibles y divertidas para ti.
    </p>

    <div class="button-container">
      <ion-button [routerLink]="['/chat-preguntas']" (click)="cambiarEstado('TutorMatematica')" class="btn">Iniciar conversacion</ion-button>
      <ion-button [routerLink]="['/dashboard']" (click)="cambiarEstado('NADA')" class="btn">Volver</ion-button>
    </div>

  </div>








</ion-content>

<app-footer></app-footer>
  
