#container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #ffffff;

  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  .vertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .vertical img {
    width: 100px;
    height: 100px;

  }
  #texto {
    gap:20px;
    color:black;
    text-align: center;
    font-family: Sans-serif;
    font-size: 22.73px;
    font-weight: 600;
    line-height: 36.36px;
    text-align: center;

    
  }
  
  
.login-container {
    width: 90%; /* Ajusta el ancho según tu preferencia */
    margin: 20px; /* Centra el contenedor horizontalmente */
    max-width: 400px; /* Ajusta el ancho máximo según tu preferencia */
    width: Hug (375px)px;
    height: Hug (431px)px;
    gap: 30px;
    opacity: 0px;

  }


#form{
    /* Inputs */
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 5px;
        color: gray;
        width: 375px;
        height: 50px;
    
    
        /* Inside auto layout */
        flex: none;
        order: 2;
        flex-grow: 0;
    
 }
 ::placeholder{
    color:black;
}
ion-button {
    display: block; /* Hace que el botón ocupe todo el ancho del contenedor */
    margin: 0 auto; /* Centra el botón horizontalmente */
    width: 50%;
    color: white;
    margin-top: 50px;
}

ion-item{
    height: 45px;
    background-color: rgb(166, 163, 163);
    border-radius: 10px;

}

ion-checkbox{
    margin-top: 50px;
    align-items: center;
}
.ver{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 18.73px;
    font-weight: 200px;
    line-height: 36.36px;
    text-align: center;
  
}
#cuetaExistente {
    color: rgb(194, 189, 189);
    text-align: center;
}
ion-label{
    text-align: start;
}
.ion-padding{
    gap:10px;
}


