<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div>
    <img src="assets\imagenes\ohbot.png" alt="imagen de OHBOT">

  </div>

  <div id="container">
    <h1>Asistente<br> deportivo</h1>

    <p>
      ¡Hola! Soy tu nuevo asesor deportivo, aquí para ayudarte a alcanzar tus metas. Juntos podemos diseñar un plan de entrenamiento efectivo, crear una dieta equilibrada y optimizar tu recuperación.
    </p>

    <div class="button-container">
      <ion-button [routerLink]="['/chat-deportivo']" class="btn">Iniciar conversacion</ion-button>
      <ion-button [routerLink]="['/inicio-sesion']" class="btn">Historial</ion-button>
    </div>

  </div>








</ion-content>

<app-footer></app-footer>
  
