<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <h1>Editar Perfil</h1>
  </ion-header>



  <div id="perfil">

    <img src="assets\imagenes\perfil_online.png" alt="Descripción de la imagen">
    <p>Versa<br/>Online</p>

  </div>

  <div id="ajustes">
    <ion-input
      placeholder="versa@versa.cl"
      type="email"
      fill="solid"
      label="Correo"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel
      email
    ></ion-input>
    <ion-input
    placeholder="Versa"
    type="usuario"
    fill="solid"
    label="Usuario"
    labelPlacement="floating"
    helperText="Ingresa nuevo nombre"
    errorText="Usuario invalido"
    ngModel

  ></ion-input>
    <ion-input
      placeholder="Contraseña"
      type="contraseña"
      fill="solid"
      label="Contraseña"
      labelPlacement="floating"
      helperText="Ingresa nueva contraseña"
      errorText="Usuario invalido"
      ngModel

  ></ion-input>
  <ion-input
  placeholder="Apellido"
  type="apellido"
  fill="solid"
  label="Apellido"
  labelPlacement="floating"
  helperText="Ingresa nuevo apellido"
  errorText="Usuario invalido"
  ngModel

  ></ion-input>

    <ion-input
      type="texto"
      fill="solid"
      label="Ingresar comuna"
      labelPlacement="floating"
      errorText="Invalid comuna"
      ngModel
    
  ></ion-input>

    
    
      <ion-item>
        <ion-select aria-label="City" interface="popover" placeholder="Seleccione su Región">
          <ion-select-option value="1region">Arica y Parinacota</ion-select-option>
          <ion-select-option value="2region">Tarapaca</ion-select-option>
          <ion-select-option value="3region">Antofagasta</ion-select-option>
          <ion-select-option value="4region">Atacama</ion-select-option>
          <ion-select-option value="5region">Coquimbo</ion-select-option>
          <ion-select-option value="6region">Valparaiso</ion-select-option>
          <ion-select-option value="7region">Metropolitana</ion-select-option>
          <ion-select-option value="8region">O'Higgins</ion-select-option>
          <ion-select-option value="9region">Del Maule</ion-select-option>
          <ion-select-option value="10region">Ñuble</ion-select-option>
          <ion-select-option value="11region">Bio Bio</ion-select-option>
          <ion-select-option value="12region">Araucania</ion-select-option>
          <ion-select-option value="13region">Los Rios</ion-select-option>
          <ion-select-option value="14region">Los Lagos</ion-select-option>
          <ion-select-option value="15region">Aysen</ion-select-option>
          <ion-select-option value="16region">Magallanes</ion-select-option>

        </ion-select>
      </ion-item>
    
    


      

  </div>

  <div id="container">
    <button [routerLink]="['/inicio-sesion']" class="btn">Actualizar datos</button>
  
  </div>  
  


  <footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom" >

        <ion-tab-button [routerLink]="['/info']" tab="home">
          <img src="assets\icon\Vector.png" alt="Descripción de la imagen">
        </ion-tab-button>

        <ion-tab-button [routerLink]="['/propiedades']" tab="radio">
          <img src="assets\icon\android.png" alt="Descripción de la imagen">
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/inforobot']" tab="library">
          <img src="assets\icon\pelota.png" alt="Descripción de la imagen">
        </ion-tab-button >

        <ion-tab-button [routerLink]="['/ajustes']" tab="search">
          <img src="assets\icon\info.png" alt="Descripción de la imagen">
        </ion-tab-button>
        
        <ion-tab-button [routerLink]="['/ajustes']" tab="search">
          <img src="assets\icon\confi.png" alt="Descripción de la imagen">
        </ion-tab-button>
          
        
      </ion-tab-bar>
    </ion-tabs>
  
  </footer>
</ion-content>